/*btob_intro.css*/
/*max 480(mob) layout=======================*/
@media screen and (max-width:480px) {
#wrap,body{width: 100%; height: 100%;}
/* headBox Design */
  #headBox{width: 100%; height: 100%; position: relative;}
    #headBtn{width: 80px; height: 80px;	background-color: #0b2f77; position: fixed; top: 0; left: 0; z-index: 1000; padding: 15px 10px; box-sizing: border-box;}
     #btobLogo{width: 100%; height: 100%; background-image: url(../../img/else/btob_logo.png); background-repeat: no-repeat; background-size: contain; }

    #showGnbBox{width: 100%; height: 100%; background-color: rgba(11,47,119,0.9); position: absolute; top: 0; left: 0; z-index: 900;}
      #gnb{width: 70%; height: 70%; position: absolute; top: 25%; left: 15%;}
        .menu_shape{width: 100%; height: 20%; margin-bottom: 4%;background-image: url(../../img/else/manu_shape.svg); background-repeat: no-repeat; background-size: 100% auto; padding: 15px 50px; box-sizing: border-box; 
        	filter: drop-shadow(1px 1px 2px #333);}
          .menu_shape>a{display: block; width: 100%; height: 100%; font-size: 1.5rem; color: #555;}
/* btob_intro main Design */
#btobIntroduce{width: 100%; height: 100%; background-color: #fff; position: absolute; top: 0; left: 0; padding: 20px; box-sizing: border-box; z-index: 100;}
   #titleBtob{width: 100%; height: 60px;}
     #titleBtob>h2{width: 50%; height: 100%; margin: 0 auto; border-bottom: 4px solid #0b2f77; text-align: center; line-height: 70px; font-size: 2rem; color: #0b2f77;}
   #memberBox{width: 100%; height: 300px; margin-top: 20px;}
     .member_picture{width: 100%; min-width: 400px; height: 100px;}
       .member_picture:nth-child(1),
       .member_picture:nth-child(3){margin-left: 60px;}
         .face_picture{width: 100px; height: 100px; border-radius: 100%; background-color: #0b2f77; margin: 2px; background-repeat: no-repeat; background-size: contain; box-shadow: 1px 1px 2px #555;}
           .enkwang{background-image: url(../../img/enkwang/eunkwang_01.jpg);}
           .minhyuk{background-image: url(../../img/minhyunk/min_01.jpg);}
           .changsub{background-image: url(../../img/changsub/changsub_01.jpg);}
           .hyunsik{background-image: url(../../img/hyunsik/hyunsik_01.jpg);}
           .peniel{background-image: url(../../img/peniel/peniel_01.jpg);}
           .ilhoon{background-image: url(../../img/ilhoon/ilhoon_01.jpg);}
           .sungjae{background-image: url(../../img/sungjae/sungjae_01.jpg);}
             .face_picture>a{display: block; width: 100%; height: 100%;}
   #moreInfomation{width: 100%; height: 140px; margin-top: 10px;}
     .menu_shape_color{width: 100%; height: 30%; background-image: url(../../img/else/manu_shape_color.svg); background-repeat: no-repeat; background-size: contain; margin-left: 40px; margin-bottom: 1.5%;}
       .menu_shape_color>a{display: block; width: 250px; height: 100%; text-align: center; line-height: 40px; color:#fff;}
       }