/*btob_intro.css*/
/*max 480(mob) layout=======================*/
@media screen and (max-width:480px) {

/* headBox Design */
  #headBox{width: 100%; height: 100%; position: relative;}
    #headBtn{width: 70px; height: 70px;	background-color: #0b2f77; position: fixed; top: 0; left: 0; z-index: 500; padding: 15px 10px; box-sizing: border-box; box-shadow: 2px 2px 3px rgba(0,0,0,0.5);}
     #btobLogo{width: 100%; height: 100%; background-image: url(../../img/else/btob_logo.png); background-repeat: no-repeat; background-size: contain;}

    #showGnbBox{width: 100%; height: 100%; background-color: rgba(11,47,119,0.9); position: fixed; top: 0; left: 0; z-index: 400;}
      #homeBtn{width: 50px; height: 50px; position: fixed; top: 35px; right: 50px; z-index: 600;}
        #homeBtn>a{display: block; width: 100%; height: 100%; background-color: transparent; background-image: url(../../img/else/homeLogo.svg); background-repeat: no-repeat; background-size: 100% auto; filter: drop-shadow(2px 2px 2px #333);}
      #gnb{width: 70%; height: 70%; position: absolute; top: 25%; left: 15%;}
        .menu_shape{width: 100%; height: 20%; margin-bottom: 4%;background-image: url(../../img/else/manu_shape.svg); background-repeat: no-repeat; background-size: 100% auto; padding: 15px 50px; box-sizing: border-box; 
        	filter: drop-shadow(1px 1px 2px #333);}
          .menu_shape>a{display: block; width: 100%; height: 100%; font-size: 1.5rem; color: #555;}
/* btob_intro main Design */
#btobIntroduce{width: 100%; height: 100%; background-color: #fff; position: absolute; top: 0; left: 0; padding: 20px; box-sizing: border-box; z-index: 100;}
  #memberArea{width: 90%; height: 100%; margin: 0 auto;}
   #titleBtob{width: 100%; height: 60px;}
     #titleBtob>h2{width: 50%; height: 100%; margin: 0 auto; border-bottom: 4px solid #0b2f77; text-align: center; line-height: 70px; font-size: 1.7rem; color: #0b2f77;}
   #memberBox{width: 100%; height: 300px; margin-top: 20px;}
     .member_picture{width: 100%;  min-width: 390px;  height: 100px;}
       .member_picture:nth-child(1),
       .member_picture:nth-child(3){margin-left: 12vw;}
       .face_picture:active{transition: all 300ms ease;}
         .face_picture{width: 24vw; max-width: 24vw; height: 24vw; border-radius: 100%; background-color: #0b2f77; margin: 2px; background-repeat: no-repeat; background-size: contain; box-shadow: 1px 1px 2px #555;}
           .enkwang{background-image: url(../../img/enkwang/eunkwang_01.jpg);}
           .minhyuk{background-image: url(../../img/minhyunk/min_01.jpg);}
           .changsub{background-image: url(../../img/changsub/changsub_01.jpg);}
           .hyunsik{background-image: url(../../img/hyunsik/hyunsik_01.jpg);}
           .peniel{background-image: url(../../img/peniel/peniel_01.jpg);}
           .ilhoon{background-image: url(../../img/ilhoon/ilhoon_01.jpg);}
           .sungjae{background-image: url(../../img/sungjae/sungjae_01.jpg);}
             .face_picture>a{display: block; width: 100%; height: 100%;}
   #moreInfomation{width: 100%; height: 140px; margin-top: 10px;}
     .menu_shape_color{width: 100%; height: 30%; background-image: url(../../img/else/manu_shape_color.svg); background-repeat: no-repeat; background-size: contain; margin-bottom: 1.5%; margin-left: 8%;}
       .menu_shape_color>a{display: block; width: 250px; height: 100%; text-align: center; line-height: 40px; color:#fff;}
  
 #footBox{width: 100%; height: 30px; position: fixed; left: 0; bottom: 0; z-index: 300;}      
  .topBtn{display: block; width: 100%; height: 100%; background-color: #0b2f77; color:#fff; text-align: center; line-height: 30px; transition: all 300ms ease;}