/* peniel_m.css */
/*max 480(mob) layout=======================*/
@media screen and (max-width:480px) {
#wrap,body{width: 100%; height: 100%;}
/* enkwang Design */
#ilhoonBox{width: 100%; height: 100%; background-color: rgba(48,160,198,0.5);}
  #ilhoonPhotoBox{width: 80%; height: 80%; position: relative; top: 5%; left: 10%;}
    .ilhoon_open{width: 295px; height: 30%; margin-bottom: 5px; font-size: 13px; color:#fff; text-align: center; line-height: 70px;}
    /*------------------박스구성----------------------*/
      .big_box{width: 145px; height: 100%;}
      .small_box{width: 70px; height: 100%;}
      .box_01{float: left;}
      .box_02{float: right;}
      .box_03{float: left;}
      .box_04{float: right;}
      .box_05{float: left; margin-right: 5px;}
      .box_06{float: left;}
      .box_07{float: right;}
    /*--------------------박스편집--------------------*/
      .big_box>img{width: 100%; height: 100%;}
      .name_box{width: 145px; height: 48%; margin-bottom: 5px; background-color: #0b2f77; font-size: 20px;}
      .info_box{width: 70px; height: 48%; float: left; background-color: #0b2f77; margin-right: 5px;}
      .info_box:nth-of-type(2n){background-color: #fff; color:#0b2f77;}
        .last{margin-right: 0;}
        .topbox{margin-bottom: 5px;}
    /*----------------------------------------*/
   #snsBox{width: 100%; height: 10%; margin-top: 5%;}
     .sns_area{width: 50%; height: 100%; float: left;}
       .sns_icon{width: 50px; height: 50px; float: left; margin-left: 30px; margin-right: 10px;}
         .sns_area>a{display: block; width: 150px; height: 50px; margin-left: 30px; line-height: 50px; color:#555;}
         .insta{width: 50px; height: 50px; background-image: url(../../img/ilhoon/ih_insta.jpg); background-size: contain; border-radius: 100%;}
         .twiter{width: 50px; height: 50px; background-image: url(../../img/ilhoon/ih_twiter.jpeg); background-size: contain; border-radius: 100%;}