/* enkwang_p.css */
/*max 1366(pc) =======================*/
@media screen and (min-width:769px) and (max-width:1366px) {
/* enkwang Design */
body,#wrap{width: 100%; height: 100%;}
#enkwangBox{width: 100%; height: 100%; background-color: rgba(48,160,198,0.3);}
  #enkwangArea{width: 90vw; height: 100%; margin: 0 auto;}
    #enkwangPhotoBox{width: 80%; height: 100%; padding: 50px 0; margin: auto;}
      .enkwang_open{width: 20vw; height: 43vw; margin-right: 0.4vw; float: left;}
      .enkwang_open:nth-child(1){margin-left: 50px;}
/* ------------------------------------ */
        .big_box{width: 20vw; height: 20vw; margin-bottom: 0.4vw;} 
          .big_box>img{width: 100%; height: 100%;}
        .small_box{width: 20vw; height: 9.8vw; margin-bottom: 0.4vw;}
          .name_box{width: 100%; height: 9.8vw; background-color: #fff; margin-bottom: 0.4vw; text-align: center; line-height: 9.8vw; font-size: 1.4rem;}
          .info_box{width: 9.8vw; height: 9.8vw; margin-right: 0.4vw; float: left; background-color: #fff; text-align: center; line-height: 9.8vw;}
          .info_box:nth-child(2n-1){background-color: #0b2f77; color:#fff;}
          .box_03>.info_box:nth-child(1),
          .box_03>.info_box:nth-child(2){margin-bottom: 0.4vw;}
          .info_box_height{width: 9.8vw; height: 9.8vw; margin-right: 0.4vw; float: left; background-color: #fff; text-align: center; line-height: 9.8vw;}
          .info_box_height:nth-child(1){background-color: #0b2f77; color:#fff;}
          .mr_zero{margin-right: 0;}
/* ------------------------------------ */
  #ek_snsBox{width: 70%; height: 60px; margin: 0 auto;}
    .sns_area{width: 45%; height: 100%; float: left;}
    .sns_area:nth-child(1){margin-left: 30px}
      .sns_icon{width: 60px; height: 60px; border-radius: 100%; background-size: contain; background-repeat: no-repeat; float: left;}
        .ek_insta{background-image: url(../../img/enkwang/insta.jpg);}
        .ek_twiter{background-image: url(../../img/enkwang/twiter.jpeg);}
        .sns_area>a{display: block; width: 100px; height: 100%; float: left; font-size: 1.2rem; line-height: 60px; margin-left: 10px;}



    }